name: stm-classification
channels:
  - pytorch
  - conda-forge
dependencies:
  - python=3.11
  - pytorch
  - torchvision
  - numpy
  - scipy
  - scikit-learn
  - matplotlib
  - seaborn
  - tqdm
  - h5py
